:root {
  font: 16px;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
  color: rgb(85, 82, 82);
}

body {
  min-height: 100%;
  justify-content: center;
  color: rgb(85, 82, 82);
  background-color: whitesmoke;
}

/* #react-head 
  background-image: url('/assets/react.png');
  height: 4rem;
 */

.test {
  margin-top: 2rem;
}

.proof {
  width: 100%;
  object-fit: cover;
  height: 5rem;
  margin: 0;
  margin-top: -55px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

header {
  background-image: url('/assets/space.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3rem;
}

.text-box-container {
  background-color: #d1d4d6;
  height: 55px;
  width: fit-content;
  padding: 1rem;
  border-radius: 15px;
  position: relative;
}
.text-box-container::after {
  position: absolute;
  content: '';
  border-width: 1em;
  border-left-color: #d1d4d6;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-style: solid;
  transform: rotate(225deg);
  bottom: -16px;
}

#photos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(19, 18, 18, 0.473);
  padding: 2rem;
  margin-top: 5px;
}

.apps {
  margin-top: -25px;
  margin-bottom: 4px;
  padding: 1rem;
  display: flex;
}

.stay-connected {
  color: white;
  background-color: #030f19;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.social {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  /* display: flex;
  justify-content: center; */
  padding: 0.25rem;
  margin-bottom: 30px;
}

.social-section {
  display: flex;
  justify-content: center;
  background-color: #030f19;
}

button {
  background-color: #0081d5;
  display: flex;
  justify-content: center;
  height: 30px;
  font-size: 18px;
  border-radius: 8px;
  color: white;
  margin-left: 80rem;
  position: relative;
  top: 1rem;
}

h3 {
  font-weight: bold;
  padding: 1rem;
}

.date {
  font-size: 14px;
  color: rgb(110, 103, 103);
}
.headshot {
  border-radius: 5%;
  margin: 0rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  background-color: #030f19;
}

.code {
  height: auto;
  width: 100%;
  object-fit: cover;
  height: 5rem;
  margin: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.background {
  background-color: whitesmoke;
}

p {
  padding-left: 1rem;
}

.codepic {
  border-radius: 10px;
}
.what {
  background-color: #030f19;
}
.second {
  border-radius: 10px;
}

@media (max-width: 750px) {
  #photos {
    display: flex;
    flex-direction: column;
  }
}
